<input currencyMask [(ngModel)]="currency" (keyup) = "showValue(currency)"/>
<div>{{currency}}</div>


<!-- <div #first>show this</div>
<div *ngIf="showSecond; else first">show second</div> -->

<input selfModelValue [(ngModel)]="test" (keyup) = "showValue(test)"/>
<div>{{test}}</div>


<button (click)="goToModule(1)">go to module-one</button>

<button (click)="goToModule(2)">go to module-two</button>

<div style="margin-top: 20px;">
    <button (click)="emitData()">传数据到module-one</button>
</div>


<router-outlet></router-outlet>
